[submodule "lectures/2026-09-korea-university-rethinking-the-research-process/overleaf"]
	path = lectures/2026-09-korea-university-rethinking-the-research-process/overleaf
	url = https://git@git.overleaf.com/6aaa697efc7ddb608ab4c4d1
